@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background-color: #d6e1f0;
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 270px;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
  text-align: center;
  padding: 15px;
  padding-bottom: 25px;
  gap: 15px;
  border-radius: 15px;
  /* box-shadow: 1px 1px 15px 0px hsl(218, 44%, 22%, 0.3); */
  box-shadow: 10px 10px 15px 0px #0001;
}

.container img {
  width: 100%;
  border-radius: inherit;
}

.container .title {
  font-weight: 700;
  font-size: 20px;
}

.container .info {
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
